# Django Settings
SECRET_KEY=
ALLOWED_HOSTS=
STATIC_URL=/static/
MEDIA_URL=/media/

# Database Configuration
DB_NAME=databus
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Google Maps API Key
API_TOKEN=
